@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
$primary-font: 'Roboto Mono', monospace;
$primary-bg-color: rgb(253, 251, 212);

* {
  font-family: $primary-font;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $primary-bg-color;
}
