.home-scroll-wrapper {
  height: 100vh;
  height: 100dvh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  padding-top: 50px;
  scroll-padding-top: 50px;
}

.home-scroll-section {
  scroll-snap-stop: always;
  height: 100%;
  scroll-snap-align: start;
}
