@use '../../styles/abstracts/variables' as v;

$card-bg-color: #f2f0ef;
$main-text-color: #c7beba;
$border-color: #807e7e;

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid $border-color;
  background-color: $card-bg-color;
  color: $main-text-color;
  margin: 3rem;
  width: 15%;
  height: fit-content;
  &__img {
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: center;
    text-align: start;
    margin: 25px auto;
    .header__title {
      width: 50%;
      font-size: 25px;
      font-weight: 500;
    }
    p {
      width: 30%;
      font-size: 15px;
      font-weight: 500;
    }
  }

  &__description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: center;
    text-align: start;
    margin: 25px auto;
    p {
      width: 90%;
      font-size: 15px;
    }
  }

  &__footer {
    margin: 10px auto;
    i {
      display: block;
      width: 44px;
      height: 44px;
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}
