// Colors

$primary-color: rgb(181, 199, 235);
$secondary-color: rgb(85, 124, 153);
$color-text-watermark: rgb(255, 255, 227);
$shadow-color: rgb(181, 199, 235);
$soft-bg-color: #ebd9b5;

// Fonts

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
$primary-font: 'Roboto Mono', monospace;
